<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         id="WebApp_ID" version="5.0">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Regist</servlet-name>
        <servlet-class>html.Regist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Regist</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>day05.Demo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/day05</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserInformation</servlet-name>
        <servlet-class>html.UserInformation</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserInformation</servlet-name>
        <url-pattern>/UserInformation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RootDel</servlet-name>
        <servlet-class>day06.RootDel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootDel</servlet-name>
        <url-pattern>/rootdel</url-pattern>
    </servlet-mapping>
</web-app>
