<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         id="WebApp_ID" version="5.0">
    <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>JSONindex.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Regist</servlet-name>
        <servlet-class>html.Regist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Regist</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>day05.Demo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/day05</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserInformation</servlet-name>
        <servlet-class>html.UserInformation</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserInformation</servlet-name>
        <url-pattern>/UserInformation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RootDel</servlet-name>
        <servlet-class>day06.RootDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>day07</servlet-name>
        <servlet-class>day07.Updata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clogin</servlet-name>
        <servlet-class>cheng.html.Clogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cregist</servlet-name>
        <servlet-class>cheng.html.Cregist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CUserInfor</servlet-name>
        <servlet-class>cheng.html.Clogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crootanduser</servlet-name>
        <servlet-class>cheng.html.Crootanduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cupdatabyuser</servlet-name>
        <servlet-class>cheng.html.Cupdatabyuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TJSON_userban</servlet-name>
        <servlet-class>cheng.test.TJSON_userban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cselect</servlet-name>
        <servlet-class>cheng.html.Crootanduser2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cselect</servlet-name>
        <url-pattern>/cselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TJSON_userban</servlet-name>
        <url-pattern>/tjson_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cupdatabyuser</servlet-name>
        <url-pattern>/cupdatabyuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crootanduser</servlet-name>
        <url-pattern>/crootanduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CUserInfor</servlet-name>
        <url-pattern>/clogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cregist</servlet-name>
        <url-pattern>/cregist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clogin</servlet-name>
        <url-pattern>/clogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>day07</servlet-name>
        <url-pattern>/updata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RootDel</servlet-name>
        <url-pattern>/rootdel</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cupdatabyroot</servlet-name>
        <servlet-class>cheng.html.Cupdatabyroot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SomBygoods_name</servlet-name>
        <servlet-class>cheng.json.SomBygoods_nameJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SomBygoods_name</servlet-name>
        <url-pattern>/SomBygoods_nameJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cupdatabyroot</servlet-name>
        <url-pattern>/cupdatabyroot</url-pattern>
    </servlet-mapping>
</web-app>
