@charset "UTF-8";
*{
	margin: 0;
	padding: 0
	
}

.box{
	width: 100%;
	height: 100%;
}
img{
	width: 10%;
	height: 10%;
	margin: 10px 45% 10px 45%;
}
h1,h3{
	text-align: center;
}

table {
	padding: 0 10% 0 10%;
}
a {
	color:green;
	text-decoration: none;
}

